.themeSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.themeSwitchIcon {
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 8px;
  color: black;
}

.themeSwitchControl {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.themeSwitchToggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.themeSwitchTrack {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #333;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.themeSwitchMarker {
  position: relative;
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
}

.themeSwitchToggle:checked + .themeSwitchTrack {
  background-color: #d3d3d4;
}

.themeSwitchToggle:checked ~ .themeSwitchMarker {
  transform: translateX(35px);
}
